@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: auto;
    height: 10vh;
    padding: 1.5rem 10rem;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 1.5rem;
}