@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Montserrat:wght@400;500&family=Poppins:wght@400;600&display=swap');

:root {
    --sandals: #836146;
    --chocolate: #725C3F;
    --ocean: #AFCDD0;
    --strawberry: #e0a19b;
    --sand: #F1F0EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

body {
    background-color: #FFF;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: auto;
    height: 10vh;
    padding: 1.5rem 10rem;
    color: var(--chocolate);
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Kalnia', serif;
}

a {
    text-decoration: none;

}

.menu > li > a {
    color: var(--sandals);
}

ul {
    display: flex;
    gap: 1.5rem;
}

.github {
    font-weight: bold;
    color: var(--chocolate);
}

main {
    max-width: 1120px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    max-width: 1120px;
    height: 60vh;
    padding: 0rem 2rem;
    margin: auto;
    overflow: hidden;
}

.hero-background {
    background: var(--sand);
    width: 100vw;
    height: 60vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.pink {
    color: var(--strawberry);
}

.blue {
    color: var(--ocean);
}

h1 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sub-title {
    font-size: 1.3rem;
}

hr {
    border: 1px solid var(--sandals);
    width: 45%;
}

.hero-images-container {
    max-width: 45%;
    column-count: 4;
    gap: 1rem;
}

.hero-images-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

button {
    width: 3rem;
    height: 3rem;
    background-color: var(--chocolate);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-width: 1120px;
}

.recipes-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recipes-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    max-width: 1120px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    max-width: 400px;
    background-color: var(--sand);
    border-radius: 0.5rem;
    padding: 2rem;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.author-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.author-info > img {
    width: 1.5rem;
    border-radius: 50%;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--chocolate);
    padding: 1rem;
}

footer > p {
    font-size: 0.8rem;
    color: #fff;
}